<style>
@media (min-width: 680px) {
	.modal {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: visible;
		min-height: 240px;
		width: 100%;
	}
}
</style>
<div class="modal">
	<ion-header-bar class="bar-dark">
		<h1 class="title">Settings</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Deluge Web URL</span>
				<input type="url" placeholder="http://myhost:8112" name="server" ng-model="settings.server">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Password</span>
				<input type="password" placeholder="" name="password" ng-model="settings.password">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Refresh Interval ({{(settings.refresh / 1000) | number}} seconds)</span>
				<div class="range" ng-if="canRange">
					<input type="range" name="refresh" step="1000" min="5000" max="60000" ng-model="settings.refresh">
				</div>
				<input type="text" name="refresh" ng-model="settings.refresh" ng-if="!canRange">
			</label>
			<div class="item padding">
				<button class="button button-block button-positive" ng-click="saveSettings()">Save</button>
				<button class="button button-block button-assertive" ng-click="resetSettings()">Reset</button>
			</div>
			<div class="row responsive-lg">
				<h5 class="col" style="color: black; font-size: xx-small; text-align: center">Deluge Mobile v@VERSION@, copyright &copy; 2014 Benjamin Reed.</h5>
			</div>
		</ion-list>
	</ion-content>
</div>