<?xml version='1.0' encoding='utf-8'?>
<widget id="com.raccoonfink.deluge-mobile" version="1.0.1" versionCode="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DelugeMobile</name>
    <description>Mobile UI for the Deluge torrent client, version 1.3 or later.</description>
    <author email="deluge@raccoonfink.com" href="http://www.raccoonfink.com/">Benjamin Reed</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
</widget>
